<footer>
  <div id="walk-future">
    <%= image_tag 'walk-future.png' %>
  </div>

  <div id="map">
    <%= image_tag 'map.png' %>
  </div>
  <div class="block">
    <h2>WALKINTOUR OFFICE</h2>
    <p>3118 Diablo Ave, Hayward,<br/> CA, 94545</p>
  </div>
  <div class="block">
    <h2>MORE PAGES</h2>
    <ul>
      <li><%= link_to 'About', '#' %></li>
      <li><%= link_to 'Help', '#' %></li>
      <li><%= link_to 'Tutorial', '#' %></li>
      <li><%= link_to 'Blog', '#' %></li>
      <li><%= link_to 'Press', '#' %></li>
      <li><%= link_to 'Terms & Privacy', '#' %></li>
    </ul>
  </div>
  <div class="block">
    <h2>FOLLOW US</h2>
    <p>
      <%= link_to '#', class: 'follow-us' do %>
        <%= image_tag 'facebook.png', class: 'follow-us' %>
      <% end %>
      <%= link_to '#', class: 'follow-us' do %>
        <%= image_tag 'twitter.png', class: 'follow-us' %>
      <% end %>

      <%= link_to '#', class: 'follow-us' do %>
        <%= image_tag 'instagram.png', class: 'follow-us' %>
      <% end %>
      <%= link_to '#', class: 'follow-us' do %>
        <%= image_tag 'youtube.png', class: 'follow-us' %>
      <% end %>
      <%= link_to '#', class: 'follow-us' do %>
        <%= image_tag 'google.png', class: 'follow-us' %>
      <% end %>
    </p>
    <p>
      <%= link_to '#', class: 'follow-us' do %>
        <%= image_tag 'lg-1.png', class: 'follow-us' %>
      <% end %>
      <%= link_to '#', class: 'follow-us' do %>
        <%= image_tag 'lg-2.png', class: 'follow-us' %>
      <% end %>
    </p>
  </div>

  <div class="clear"></div>
  <div id="copyright">
    Copyright &copy; 2015 WalkIn Photography, Inc.
  </div>
  <div id="partnership">
    PARTNERSHIP OPPORTUNITIES
  </div>
</footer>