<%= form_for @photo do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div>
    <%= f.label :title %>
  </div>

  <div>
    <%= f.text_field :title, size: 45 %>
  </div>

  <div class="group-submit">
    <%= f.submit title_sumbit, class: "btn btn-primary" %>
    <%= link_to 'Сancel', :back, class: "btn btn-default" %>
  </div>

<% end %>
