<!DOCTYPE html>
<html>
<head>
  <title>Walkintour</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="container">

    <%= render 'shared/header' %>

    <div id="main-fon">

      <%= yield %>

      <div class="clear"></div>
      <div class="content">
        <div class="body-left">
          <h1>Basic Package starting at <span>$200</span></h1>
          <p>Our most affordable package will have your buyers virtually stepping through the front door and perusing the rooms of your listing via our advanced 3D WalkIn Tour. Your beautiful website will be ready to link to an MLS database and provide visitors the best remote tour experience on the market. Give buyers access to a 24/7 open house no matter where they are.
          </p>
          <p>Order our Basic Package and you'll discover the persuasive power of the WalkIn solution.
          </p>
          <%= image_tag 'video.png', id: 'video' %>
          <h1>*Additional Spaces</h1>
          <p>Extra charges apply to space in addition to main structure square footage, such as an attic or basement.
          </p>
          <p>Our scanning technology requires a second 3D model to be created for space that is not interiorly connected to the main space, or that has limited access. Common scenarios include:
          </p>
          <ol>
            <li>Detached pool house.</li>
            <li>Detached workshop.</li>
            <li>Basement/in-law unit not connected by an interior staircase.</li>
            <li>Townhouse with two units, not connected by an interior door.</li>
            <li>Basement that is only accessible by trap door, or attic that is only accessible by ladder.</li>
          </ol>
        </div>
        <div class="body-right">
          <h1>Basic Package includes:</h1>
          <p>3D WalkIn Tour<br/>
            Single Property Website<br/>
            (see samples on our pricing page)
          </p>
          <h1>Appointment option</h1>
          <p>Due to high demand, our appointments are generally 3 days out from the date you place your oder. Enter a desirable date and time in the text field, and we'll work with your schedule.
          </p>
          <h1>Combo lockbox option</h1>
          <p>If your property is vacant and camera ready, and there is a combo lockbox on-site, our techician will scan your property the next day. Using this option, the exact time of the scan is not guaranteed, but will be between 8am and sunset. Enter the lockbox combo and location in the text field.
          </p>
        </div>
      </div>

      <div class="clear"></div>

    </div>

    <%= render 'shared/footer' %>

  </div>
</body>
</html>
